<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="/BO-HR/assets/img/logo-fav.png" rel="shortcut icon">
    <title>ธนาคารออมสิน</title>
    <link rel="stylesheet" type="text/css" href="/BO-HR/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="/BO-HR/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com5shiv/3.7.25shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="/BO-HR/assets/lib/datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/BO-HR/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/BO-HR/assets/lib/bootstrap-slider/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="/BO-HR/assets/css/app.css" type="text/css" />
</head>
<body ng-app="">
    <div class="be-wrapper">
        <div ng-include="'/BO-HR/navbar?active={menu_item}'"></div>
        <div class="be-content">
            <div class="page-head">
                <h2 class="page-head-title">สวัสดิการ</h2>
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb page-head-nav">
                        <li class="breadcrumb-item">
                            <a href="/BO-HR/index">หน้าหลัก</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="UC_HRBO_3">สวัสดิการ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="UC_HRBO_312">ตั้งค่าข้อเสนอแนะกองทุนเลี้ยงชีพ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">แก้ไขรายการ</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="main-content container-fluid">
                <form data-parsley-validate="" id="form_config" novalidate="" enctype="multipart/form-data" method="POST" action="../endpoint/api_312_update">
                    <div class="row">
                        <input value="{config_id}" type="hidden" id="config_id" name="config_id">
                        <input value="{variable_id}" type="hidden" id="variable_id" name="variable_id">
                        <div class="col-lg-12">
                            <div class="card card-border-color card-border-color-primary">
                                <div class="card-header card-header-divider">แก้ไขรายการ</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-xs-4 col-sm-4 col-lg-6 form-group">
                                            <label for="config">หัวเรื่อง</label>
                                            <input id="key_code" type="text" required="" value="{title}" placeholder="key code" autocomplete="off" class="form-control" name="key_code">

                                        </div>
                                        <div class="col-4 col-xs-4 col-sm-4 col-lg-6 form-group">
                                            <label for="config">เงื่อนไขเงินสะสมตั้งแต่</label>
                                            <input id="greater_than" type="text" required="" value="{greater_than}" placeholder="Greater than" autocomplete="off" class="form-control input-number" name="greater_than">

                                        </div>
                                        <div class="col-4 col-xs-4 col-sm-4 col-lg-6 form-group">
                                            <label for="config">เงื่อนไขเงินสะสมถึง</label>
                                            <input id="less_than" type="text" required="" value="{less_than}" placeholder="Less than" autocomplete="off" class="form-control input-number" name="less_than">

                                        </div>
                                        <div class="col-4 col-xs-4 col-sm-4 col-lg-6 form-group">
                                            <label for="config">จำนวนเงินสะสมเเนะนำ</label>
                                            <input id="amount" type="text" required="" value="{amount}" placeholder="amount" autocomplete="off" class="form-control input-number" name="amount">

                                        </div>
                                      
                                        <div class="col-4 col-xs-4 col-sm-4 col-lg-12 form-group">
                                            <label for="config">รายละเอียด</label>
                                            <textarea id="key_name" rows="10" cols="0" type="text" name="key_name" placeholder="Key name" autocomplete="off"
                                            class="form-control" required="">{key_name}</textarea>

                                        </div>
                                        <div class="col-12 col-xs-12 col-sm-12 col-lg-12 text-right">
                                            <button type="button" class="btn btn-space btn-primary submit" name="">
                                                <i class="icon icon-left mdi mdi-save"></i> บันทึก</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/BO-HR/assets/lib/angular.min.js"></script>
    <script src="/BO-HR/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/BO-HR/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="/BO-HR/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="/BO-HR/assets/js/app.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();

            $(".submit").on('click', function () {
                var jsonStrings = {
                        "greater_than" : $('#greater_than').val(),
                        "key_code" : $('#key_code').val(),
                        "less_than" : $('#less_than').val(),
                        "key_name" : $('#key_name').val(),
                        "amount" : $('#amount').val(),
                        "config_id" : $('#config_id').val(),
                        "variable_id" : $('#variable_id').val()
                };
                $.ajax({
                    type: "POST",
                    url: "../endpoint/api_312_update",
                    data : JSON.stringify(jsonStrings),
                    contentType : "application/json; charset=utf-8",
                    dataType : "json",
                    success: function (response) {           
                        if (response.result == "0") {
                            $('#md-success').modal('show');
                        } else if (response.result == "1") {
                            $('#md-error1').modal('show');
                        } else if (response.result == "2") {
                            $('#md-error2').modal('show');
                        }else if (response.result == "3") {
                            $('#md-error3').modal('show');
                        }
                    }
                });
            });

         $(".input-number").on("keypress", validateNumber);
        
            function validateNumber(event) {
                var key = window.event ? event.keyCode : event.which;
                if ((key < 48 || key > 57) && key != 8) {
                    return false;
                } else {
                    return true;
                }
            };
        });
    </script>
</body>

<!--Bootstrao Modals-->
<div id="md-success" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary">
                        <span class="modal-main-icon mdi mdi-check"></span>
                    </div>
                    <h3>แก้ไขเรียบร้อยแล้ว</h3>
                    <div class="mt-8">
                        <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary" onclick="location.href='UC_HRBO_312'">รับทราบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="md-error1" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <span class="modal-main-icon mdi mdi-alert-circle"></span>
                    </div>
                    <h3>จำนวนเงิน ไม่ถูกตามเงือนไข</h3>
                    <div class="mt-8">
                        <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">รับทราบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="md-error2" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <span class="modal-main-icon mdi mdi-alert-circle"></span>
                    </div>
                    <h3>แก้ไขผิดพลาด</h3>
                    <div class="mt-8">
                        <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">รับทราบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="md-error3" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
                    <span class="mdi mdi-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger">
                        <span class="modal-main-icon mdi mdi-alert-circle"></span>
                    </div>
                    <h3>จำนวนเงินนี้มีในระบบแล้ว</h3>
                    <div class="mt-8">
                        <button type="button" data-dismiss="modal" class="btn btn-space btn-secondary">รับทราบ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

